.container 
  aside.list 
    header.profile
      .avatar.my__avater нет фото
      .name.my__name
        span.name Сергей Иванов
    ul.friend__list
      li.friend__item
        .avatar нет фото
        .name
  .chat
    header.chat__header
      .h2 Чат
    ul.massage__list
      li.massage__item
        .avatar нет фото
        .name
        
