<!-- build:js js/vendor.js --> 
//bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='bower\mixitup\build\jquery.mixitup.min.js')
script(src='bower\slick-carousel\slick\slick.js')
//endbower
<!-- endbuild -->
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
<!-- build:js js/main.js --> 
script(src="js/bPopup.js")
script(src="js/magnific.js")
script(src="js/mask.js")
script(src="js/main.js")
<!-- endbuild -->
